body {
  margin-top: 7rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Righteous", cursive;
  color: #E9725D;
  text-align: center; }

h1 {
  text-transform: uppercase; }

h2 {
  font-size: 2.5rem; }

h3.frase {
  font-size: 3.5rem;
  text-align: center;
  margin: 1.5rem; }

h4 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

p {
  font-family: "Raleway", sans-serif; }

a {
  color: #E9725D; }
  a:hover {
    color: #5D8B80; }
  a.boton {
    background-color: #EFEBC8;
    border-radius: 10px;
    border: solid; }
  a.busqueda {
    color: #EFEBC8; }
    a.busqueda:hover {
      text-decoration: none;
      color: #E9725D; }

ul.trabajo {
  list-style-type: none;
  padding: 0; }

li.menu {
  border: solid;
  border-radius: 10px;
  height: 3rem;
  width: 15rem;
  box-sizing: content-box;
  text-align: center; }
  @media (max-width: 768px) {
    li.menu {
      width: 100%; } }

li.accion {
  background-color: #1B4D41; }

li.desarrollo {
  background-color: #2D575C; }

li.comunicacion {
  background-color: #5D8B80; }

li.politica {
  background-color: #41B28E; }

div.proyectos {
  margin-top: 9rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex; }
  div.proyectos .item1 {
    padding-right: 3rem; }

div.img {
  text-align: center; }

div.valores {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-evenly; }
  @media (max-width: 768px) {
    div.valores {
      display: block; } }

div.img-quienes-somos {
  text-align: center; }

div.img-index1 {
  width: 300px;
  height: 300px;
  background-image: url(../img/6.png);
  border-radius: 50%;
  margin-top: 2rem; }
  div.img-index1:hover div.img-info {
    visibility: visible; }

div.img-index2 {
  width: 300px;
  height: 300px;
  background-image: url(../img/7m.jpg);
  border-radius: 50%;
  margin-top: 2rem; }
  div.img-index2:hover div.img-info {
    visibility: visible; }

div.img-index3 {
  width: 300px;
  height: 300px;
  background-image: url(../img/8.jpg);
  border-radius: 50%;
  margin-top: 2rem; }
  div.img-index3:hover div.img-info {
    visibility: visible; }

div.img-info {
  width: 300px;
  height: 300px;
  background-color: #2D575C;
  opacity: 0.9;
  border-radius: 50%;
  visibility: hidden;
  text-transform: uppercase; }
  div.img-info a {
    text-decoration: none; }
  div.img-info h6 {
    font-size: 1.7rem;
    padding-top: 45%; }

div#busquedas-laborales {
  margin-top: 9rem;
  display: flex;
  gap: 2rem; }
  @media (max-width: 768px) {
    div#busquedas-laborales {
      display: block; } }

div.libros {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between; }
  div.libros section {
    text-align: center; }
    div.libros section > div {
      border: solid;
      padding: 2rem 1rem 2rem 1rem; }

img.logo-navbar {
  width: 250px; }
  @media (max-width: 371px) {
    img.logo-navbar {
      width: 150px; } }

@media (max-width: 575px) {
  img.proyectos {
    max-width: 320px; } }

@media (max-width: 767px) {
  img.proyectos {
    max-width: 540px; } }

@media (max-width: 991px) {
  img.proyectos {
    max-width: 720px; } }

@media (max-width: 1199px) {
  img.proyectos {
    max-width: 960px; } }

@media (min-width: 1200px) {
  img.proyectos {
    max-width: 1140px; } }

nav {
  font-family: "Righteous", cursive;
  color: #E9725D;
  font-size: 1rem; }
  nav.navbar {
    background-color: #fff; }
  nav .dropdown-item {
    color: #5D8B80;
    font-family: "Raleway", sans-serif; }
  nav img:hover {
    width: 255px; }

footer {
  background-color: #E9725D;
  padding-top: 2rem; }
  footer nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    footer nav a {
      padding: 0.7rem 1.2rem 2rem 1.2rem; }
      footer nav a:hover {
        opacity: 0.5; }
  footer h6 {
    color: #EFEBC8;
    text-transform: uppercase;
    font-size: 1.5rem; }

main.proyectos {
  background-color: #EFEBC8;
  color: #E9725D; }

main.prueba {
  height: 75vh; }

section {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  section iframe {
    border-radius: 2%; }
  section div.proyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
  section.iframe {
    background-color: #E9725D;
    padding: 3rem; }
  section.quienes-somos {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem 2rem 1rem 2rem; }
    section.quienes-somos .item-derecha {
      padding-left: 3rem; }
    section.quienes-somos .item-izquierda {
      padding-right: 3rem; }
    @media (max-width: 992px) {
      section.quienes-somos img {
        width: 350px; } }
    @media (max-width: 768px) {
      section.quienes-somos {
        flex-direction: column; }
        section.quienes-somos .img-quienes-somos {
          order: 1; }
        section.quienes-somos img {
          max-width: 500px; }
        section.quienes-somos .item-derecha {
          padding-left: 0rem; }
        section.quienes-somos .item-izquierda {
          padding-right: 0rem; } }
    @media (max-width: 576px) {
      section.quienes-somos {
        margin: 0; } }

article#diferencial {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  article#diferencial p {
    font-size: 0.9rem;
    text-align: center; }
  article#diferencial h4 {
    font-size: 1.3rem; }

article#quienes-somos {
  background-color: #EFEBC8;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  article#quienes-somos h1 {
    margin-bottom: 2rem; }
  article#quienes-somos h3 {
    margin-bottom: 2rem; }

article.gestion-menstrual {
  background-color: #EFEBC8; }

article#logistica, article#recaudador-fondos, article#community-manager, article#editor-audiovisual, article#diseniador-grafico, article#asistente-twitter, article#investigador-politico {
  display: none; }

article#libros h2, article#libros h4 {
  text-transform: uppercase; }
