h1, h2, h3, h4, h5, h6 {
  font-family: "Righteous", cursive;
  color: #E9725D;
  text-align: center; }

h1 {
  text-transform: uppercase; }

h3.frase {
  font-size: 3.5rem;
  text-align: center;
  margin: 1.5rem; }

p {
  font-family: "Raleway", sans-serif; }

a {
  color: #E9725D; }
  a:hover {
    color: #5D8B80; }
  a.boton {
    background-color: #EFEBC8;
    border-radius: 10px;
    border: solid; }

ul.trabajo {
  list-style-type: none; }

li.menu {
  border: solid;
  box-sizing: content-box;
  width: 25%;
  text-align: center; }
  @media (max-width: 768px) {
    li.menu {
      width: 100%; } }

li.accion {
  background-color: #1B4D41; }

li.desarrollo {
  background-color: #2D575C; }

li.comunicacion {
  background-color: #5D8B80; }

li.politica {
  background-color: #41B28E; }

div.proyectos {
  display: flex; }
  div.proyectos .item1 {
    padding-right: 3rem; }

div.img {
  text-align: center; }

div.valores {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-evenly; }
  @media (max-width: 768px) {
    div.valores {
      grid-template-columns: repeat(2, 35%); } }
  @media (max-width: 400px) {
    div.valores {
      display: block; } }

div.valores-inf {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  justify-content: space-evenly; }
  @media (max-width: 400px) {
    div.valores-inf {
      display: block; } }

div.img-quienes-somos {
  text-align: center; }

div.capacitadores {
  display: grid;
  grid-template-columns: repeat(8, auto); }
  div.capacitadores p {
    text-align: center;
    font-size: 0.8rem; }
  div.capacitadores h5 {
    font-size: 1rem; }
  div.capacitadores img {
    border-radius: 50%; }
  @media (max-width: 992px) {
    div.capacitadores {
      grid-template-columns: repeat(6, auto); } }
  @media (max-width: 768px) {
    div.capacitadores {
      grid-template-columns: repeat(5, auto); } }
  @media (max-width: 576px) {
    div.capacitadores {
      grid-template-columns: repeat(4, auto); } }
  @media (max-width: 470px) {
    div.capacitadores {
      grid-template-columns: repeat(2, auto); } }
  @media (max-width: 350px) {
    div.capacitadores {
      grid-template-columns: repeat(1, auto); } }

div.img-capacitadores {
  text-align: center; }

@media (max-width: 371px) {
  img.logo-navbar {
    width: 150px; } }

img.redonda {
  border-radius: 50%; }

img.py-home {
  width: 300px; }
  img.py-home:hover {
    width: 310px;
    opacity: 0.8; }

@media (max-width: 575px) {
  img.proyectos {
    max-width: 320px; } }

@media (max-width: 767px) {
  img.proyectos {
    max-width: 540px; } }

@media (max-width: 991px) {
  img.proyectos {
    max-width: 720px; } }

@media (max-width: 1199px) {
  img.proyectos {
    max-width: 960px; } }

@media (min-width: 1200px) {
  img.proyectos {
    max-width: 1140px; } }

nav {
  font-family: "Righteous", cursive;
  color: #E9725D;
  font-size: 1rem; }
  nav.navbar {
    background-color: #fff; }
  nav .dropdown-item {
    color: #5D8B80;
    font-family: "Raleway", sans-serif; }
  nav img:hover {
    width: 255px; }

footer {
  background-color: #E9725D;
  padding-top: 2rem; }
  footer nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    footer nav a {
      padding: 0.7rem 1.2rem 2rem 1.2rem; }
      footer nav a:hover {
        opacity: 0.5; }
  footer h6 {
    color: #EFEBC8;
    text-transform: uppercase;
    font-size: 2rem; }

main.proyectos {
  background-color: #EFEBC8;
  color: #E9725D; }

main.prueba {
  height: 75vh; }

section {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  section iframe {
    border-radius: 2%; }
  section div.proyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
  section.iframe {
    background-color: #E9725D;
    padding: 3rem; }
  section.quienes-somos {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem 2rem 1rem 2rem; }
    section.quienes-somos .item-derecha {
      padding-left: 3rem; }
    section.quienes-somos .item-izquierda {
      padding-right: 3rem; }
    @media (max-width: 992px) {
      section.quienes-somos img {
        width: 350px; } }
    @media (max-width: 768px) {
      section.quienes-somos {
        flex-direction: column; }
        section.quienes-somos .img-quienes-somos {
          order: 1; }
        section.quienes-somos img {
          max-width: 500px; }
        section.quienes-somos .item-derecha {
          padding-left: 0rem; }
        section.quienes-somos .item-izquierda {
          padding-right: 0rem; } }
    @media (max-width: 576px) {
      section.quienes-somos {
        margin: 0; } }

article#diferencial {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  article#diferencial p {
    font-size: 0.9rem;
    text-align: center; }
  article#diferencial h4 {
    font-size: 1.3rem; }

article#quienes-somos {
  background-color: #EFEBC8;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  article#quienes-somos h1 {
    margin-bottom: 2rem; }
  article#quienes-somos h3 {
    margin-bottom: 2rem; }

article#capacitadores {
  background-color: #EFEBC8;
  padding-top: 2rem;
  padding-bottom: 2rem; }

article.gestion-menstrual {
  background-color: #EFEBC8; }
