$primary: #E9725D;
$verde-oscuro: #1B4D41;
$azul: #2D575C;
$gris-oscuro: #5D8B80;
$verde-claro: #41B28E;
$celeste: #98D4E8;
$naranja: #E49925;
$gris-claro: #EFEBC8;

$sub-destacada: 'Righteous', cursive;
$general: 'Raleway', sans-serif;

h1, h2, h3, h4, h5, h6{
    font-family: $sub-destacada;
    color: $primary;
    text-align: center;
}

h1{
    text-transform: uppercase;
}

h3{
    &.frase{
        font-size: 3.5rem;
        text-align: center;
        margin: 1.5rem;
    }
}

p{
    font-family: $general;
}

a{
    color: $primary;
    &:hover{
        color: $gris-oscuro;
    }
    &.boton{
        background-color: $gris-claro;
        border-radius: 10px;
        border: solid;
    }
}

ul{
    &.trabajo{
        list-style-type: none;
    } 
}

li{
    &.menu{
        border: solid;
        box-sizing: content-box;
        width: 25%;
        text-align: center;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    
    &.accion{
        background-color: $verde-oscuro;
    }
    &.desarrollo{
        background-color: $azul;
    }
    &.comunicacion{
        background-color: $gris-oscuro;
    }
    &.politica{
        background-color: $verde-claro;
    }
}

div{
    &.proyectos{
        display: flex;
        .item1{
            padding-right: 3rem;
        }
    }
    &.img{
        text-align: center;
    }
    &.valores{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-evenly;
        @media (max-width:768px){
            grid-template-columns: repeat(2, 35%);
        }
        @media (max-width:400px) {
            display: block;
        }
    }
    &.valores-inf{
        display: grid;
        grid-template-columns: repeat(2, 30%);
        justify-content: space-evenly;
        @media (max-width:400px) {
            display: block;
        }
    }
    &.img-quienes-somos{
        text-align: center;
    }
    &.capacitadores{
        display: grid;
        grid-template-columns: repeat(8, auto);
        p{
            text-align: center;
            font-size: 0.8rem;
        }
        h5{
            font-size: 1rem;
        }
        img{
            border-radius: 50%;
        }
        @media (max-width:992px){
            grid-template-columns:repeat(6, auto);
        }
        @media (max-width:768px){
            grid-template-columns:repeat(5, auto);
        }
        @media (max-width:576px){
            grid-template-columns:repeat(4, auto);
        }
        @media (max-width:470px){
            grid-template-columns:repeat(2, auto);
        }
        @media (max-width:350px){
            grid-template-columns:repeat(1, auto);
        }
    }
    &.img-capacitadores{
        text-align: center;
    }
}

img{
    &.logo-navbar{
        @media (max-width:371px){
            width: 150px;
        }
    }
    &.redonda{
        border-radius: 50%;
    }
    &.py-home{
        width: 300px;
        &:hover{
            width: 310px;
            opacity: 0.8;
        }
    }
    &.proyectos{
        @media (max-width:575px) {
            max-width: 320px;
        }
        @media (max-width:767px) {
            max-width: 540px;
        }
        @media (max-width:991px) {
            max-width: 720px;
        }
        @media (max-width:1199px) {
            max-width: 960px;
        }
        @media (min-width:1200px) {
            max-width: 1140px;
        }
    }
}

nav{
    font-family: $sub-destacada;
    color: $primary;
    font-size: 1rem;
    .dropdown-item{
        color: $gris-oscuro;
        font-family: $general;
    }
    img:hover{
        width: 255px;
    }
}

footer{
    background-color: $primary;
    padding-top: 2rem;
    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        a{
            padding: 0.7rem 1.2rem 2rem 1.2rem;
            &:hover{
                opacity: 0.5;
            }
        }
    }
    h6{
        color: $gris-claro;
        text-transform: uppercase;
        font-size: 2rem;
    }
}

main{
    &.proyectos{
        background-color: $gris-claro;
        color: $primary;
    }
    &.prueba{
        height: 75vh;
    }
}

section{
    margin-top: 3rem;
    margin-bottom: 3rem;
    iframe{
        border-radius: 2%;
    }
    div.proyectos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    &.iframe{
        background-color: $primary;
        padding: 3rem;
    }
    &.quienes-somos{
        display: flex;
        align-items: center;
        text-align: center;
        margin:1rem 2rem 1rem 2rem;
        .item-derecha{
            padding-left: 3rem;
        }
        .item-izquierda{
            padding-right: 3rem;
        }
        @media (max-width:992px){
            img{
                width: 350px;
            }
        }
        @media (max-width:768px){
            flex-direction: column;
            .img-quienes-somos{
                order: 1;
            }
            img{
                max-width: 500px;
            }
            .item-derecha{
                padding-left: 0rem;
            }
            .item-izquierda{
                padding-right: 0rem;
            }
        }
        @media (max-width:576px){
            margin: 0;
        }
    }
}

article{
    &#diferencial{
        padding-top: 2rem;
        padding-bottom: 2rem;
        p{
            font-size: 0.9rem;
            text-align: center;
        }
        h4{
            font-size: 1.3rem;
        }
    }
    &#quienes-somos{
        background-color: $gris-claro;
        padding-top:2rem;
        padding-bottom: 2rem;
        h1{
            margin-bottom: 2rem;
        }
        h3{
            margin-bottom: 2rem;
        }
    }
    &#capacitadores{
        background-color: $gris-claro;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    &.gestion-menstrual{
        background-color: $gris-claro;
    }
}



